html, body{
  width: 100%;
  height: 100%;
  background: #bcdefa;
  overflow: hidden;
}

/* HERE ARE THE SHAPES FOR THE BACKGROUND*/

.rhombus1{
  position: absolute;
  top: -5%;
  left: -2%;
  height: 90px;
  width: 100px;
  transform: skewY(30deg);
  
  
  background-color: #9ad2ff;
  
  
}
.rhombus2{
  position: absolute;
  top: 15%;
  left: -3.5%;
  height: 400px;
  width: 120px;
  transform: skewY(30deg);
  
  
  background-color: #9ad2ff;
  
  
}

.rhombus3{
  position: absolute;
  top: 8%;
  left:15%;
  height: 400px;
  width: 120px;
  transform: skewY(20deg);
  
  
  background-color: #9ad2ff;
  
  
}

.rhombus4{
  position: absolute;
  top: 75%;
  left: 75%;
  height: 400px;
  width: 400px;
  transform: skewY(20deg);
  
  
  background-color: rgba(255, 255, 255, 0.582);
  
  
}

.rhombus5{
  position: absolute;
  top: 45%;
  left: 80%;
  height: 150px;
  width: 400px;
  transform: skewY(20deg);
  
  
  background-color: rgba(255, 255, 255, 0.582);
  
  
}





.left-content{
  
  position: absolute;
  background: #FFF;
  top: 10%;
  left: 3.5%;
  height: 550px;
  width: 600px;
  
}

.left-content h1{
  position: absolute;
  left: 29%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.left-content h2{
  position: absolute;
  left: 23%;
  top: 30%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input{
  border: 1.5px solid #000;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
}

input::placeholder{
  color: grey;
  font-size: 15px;
}

p{
  position: absolute;
  left: 23%;
  top: 65%;
  color: #000;
  font-weight: 400;
}

h5{
  position: absolute;
  top: 80%;
  left: 23%;
}

button{
  cursor: pointer;
}

.registerButton{
  position: absolute;
  top: 75%;
  left: 23%;
   height: 30px;
   width: 290px;
   border-radius: 5px;
   background-color: #0000ffc4;
   border: none;
   color: #FFF;
}

.loginButton{
  position: absolute;
  top: 75%;
  left: 23%;
   height: 30px;
   width: 290px;
   border-radius: 5px;
   background-color: #0000ffc4;
   border: none;
   color: #FFF;
   display: none;
}

.showSignIn{
  border: none;
  text-decoration: underline;
  background: transparent;
}

#user{
  position: absolute;
  left: 23%;
  top: 40%;
  height: 30px;
  width: 220px;
}

#email{
  position: absolute;
  left: 23%;
  top: 50%;
  height: 30px;
  width: 290px;
}

#password{
  position: absolute;
  left: 23%;
  top: 60%;
  width: 290px;
  height: 30px;
}

#symbol{
  position: absolute;
  left: 23%;
  top: 6%;
  transform: scale(2);
}

.right-content{
  position: absolute;
  background: rgba(23, 35, 209, 0.726);
  top: 10%;
  left: 47.5%;
  height: 550px;
  width: 600px;
  
}

